# Type Casting In Python

Type casting, also known as type conversion, is the process of changing the data type of a variable from one type to another. In Python programming, this process allows manipulation and combination of different types of data in a meaningful way. Type casting enables flexibility in handling data types and ensures compatibility across different operations and contexts within Python programming.

<b>Importance of Data Types:</b>

<b>Saving Space:</b> Different data types consume varying amounts of memory, ensuring efficient memory usage.

<b>Playing by the Rules:</b> Each data type has its own set of rules, ensuring appropriate handling of data.

<b>Keeping Things Neat:</b> Organizing data types helps maintain clarity and organization in code.

<b>Getting the Right Results:</b> Using the correct data types ensures expected outcomes from operations.

<b>Finding Mistakes:</b> Data types help catch errors early by detecting mismatches in types.

<b>Speedy Work:</b> Certain data types allow for faster execution of programs.

<b>Clear Instructions:</b> Using appropriate data types enhances code readability and comprehension.

<b>Interoperability:</b> Different programs or systems can understand data types, facilitating communication.

<b>Integer Data Type:</b>

Used for storing whole numbers without fractional or decimal parts.

Conversion from other types, like floating-point numbers or strings, results in the loss of fractional parts.

<b>Floating-point Data Type:</b>

Used for representing real numbers with decimal points or fractional parts.

Versatile in handling a wide range of values, but may introduce slight inaccuracies due to computer storage limitations.

<b>Boolean Data Type:</b>

Involves converting other data types into boolean values based on specific conditions.

Resulting value is either True (if condition is met) or False (if condition isn't met).

<b>Complex Data Type:</b>

Consists of real and imaginary parts, represented as a + bj.

Type casting into boolean values follows similar principles as other data types, resulting in True or False based on specified conditions.

<b>String Data Type:</b>

Type casting involves converting strings into boolean values based on conditions.

Non-empty strings are considered "truthy," resulting in True, while empty strings are "falsy," resulting in False.

Conditions can include checking for the presence of certain characters or substrings within the string.

# Type Casting: float, bool, complex, and str to int

In [1]:
a=12.99

In [2]:
print(a,type(a))

12.99 <class 'float'>

In [3]:
b = int(a)

In [4]:
print(b,type(b))

12 <class 'int'>

In [5]:
a = 0.999999

In [6]:
print(a,type(a))

0.999999 <class 'float'>

In [7]:
b = int(a)

In [8]:
print(b,type(b))

0 <class 'int'>

In [9]:
a = True

In [10]:
print(a,type(a))

True <class 'bool'>

In [11]:
b=int(a)

In [12]:
print(b,type(b))

1 <class 'int'>

In [13]:
a = False

In [14]:
print(a,type(a))

False <class 'bool'>

In [15]:
b=int(a)

In [16]:
print(b,type(b))

0 <class 'int'>

In [19]:
a = 10+4j

In [20]:
b = int(a)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [21]:
a.real

10.0

In [22]:
a.imag

4.0

In [23]:
b=int(a.real)

In [24]:
print(b,type(b))

10 <class 'int'>

In [25]:
b=int(a.imag)

In [26]:
print(b,type(b))

4 <class 'int'>

In [27]:
a="True"
b=int(a)
print(b,type(b))

ValueError: invalid literal for int() with base 10: 'True'

In [28]:
a = "one"

In [29]:
print(a,type(a))

one <class 'str'>

In [30]:
b=int(a)

ValueError: invalid literal for int() with base 10: 'one'

In [31]:
a="199.99"

print(a,type(a))

199.99 <class 'str'>

In [32]:
b=int(a)
print(b,type(b))

ValueError: invalid literal for int() with base 10: '199.99'

In [33]:
a="2300"

In [34]:
print(a,type(a))

2300 <class 'str'>

In [35]:
b=int(a)

In [36]:
print(b,type(b))

2300 <class 'int'>

In [37]:
a= "22.22"

In [38]:
print(a,type(a))

22.22 <class 'str'>

In [39]:
b = int(a)

ValueError: invalid literal for int() with base 10: '22.22'

# Type Casting: int, bool, complex, and str to float

In [40]:
a=12

In [41]:
print(a,type(a))

12 <class 'int'>

In [42]:
b=float(a)

In [43]:
print(b,type(b))

12.0 <class 'float'>

In [44]:
a = True

In [45]:
print(a,type(a))

True <class 'bool'>

In [46]:
b=float(a)

In [47]:
print(b,type(b))

1.0 <class 'float'>

In [48]:
a = 3+2j

In [49]:
print(a,type(a))

(3+2j) <class 'complex'>

In [50]:
b = float(a)

TypeError: float() argument must be a string or a real number, not 'complex'

In [51]:
print(b,type(b))

1.0 <class 'float'>

In [52]:
a = 3+2j

In [53]:
print(a,type(a))

(3+2j) <class 'complex'>

In [54]:
b = float(a)

TypeError: float() argument must be a string or a real number, not 'complex'

In [56]:
a="10"

In [57]:
print(a,type(a))

10 <class 'str'>

In [58]:
b=float(a)

In [59]:
print(b,type(b))

10.0 <class 'float'>

In [60]:
a="10.35"

float(a)

10.35

In [61]:
print(a,type(a))

10.35 <class 'str'>

In [62]:
b=float(a)

In [63]:
print(b,type(b))

10.35 <class 'float'>

In [64]:
a = "3+4j"

In [65]:
print(a,type(a))

3+4j <class 'str'>

In [66]:
b = float(a)

ValueError: could not convert string to float: '3+4j'

In [67]:
a="Python"

In [68]:
b=float(a)

ValueError: could not convert string to float: 'Python'

# Type Casting: int, float, complex, and str to bool

In [69]:
a=123

In [70]:
print(a,type(a))

123 <class 'int'>

In [71]:
b=bool(a)

In [72]:
print(b,type(b))

True <class 'bool'>

In [73]:
a=-2

In [74]:
print(a,type(a))

-2 <class 'int'>

In [75]:
b=bool(a)

In [76]:
print(b,type(b))

True <class 'bool'>

In [77]:
a = 0

In [78]:
print(a,type(a))

0 <class 'int'>

In [79]:
b = bool(a)

In [80]:
print(b,type(b))

False <class 'bool'>

In [81]:
a=1.2

In [82]:
print(a,type(a))

1.2 <class 'float'>

In [83]:
b=bool(a)

In [84]:
print(b,type(b))

True <class 'bool'>

In [85]:
a=0.0

In [86]:
print(a,type(a))

0.0 <class 'float'>

In [87]:
b=bool(a)

In [88]:
print(b,type(b))

False <class 'bool'>

In [89]:
a=0.1

In [90]:
print(a,type(a))

0.1 <class 'float'>

In [91]:
b=bool(a)

In [92]:
print(b,type(b))

True <class 'bool'>

In [93]:
a=2+3j

In [94]:
print(a,type(a))

(2+3j) <class 'complex'>

In [95]:
b=bool(a)

In [96]:
print(b,type(b))

True <class 'bool'>

In [97]:
a = "20"

In [98]:
print(a,type(a))

20 <class 'str'>

In [99]:
b = bool(a)

In [100]:
print(b,type(b))

True <class 'bool'>

In [ ]:
a = "20.45"

In [ ]:
b = bool(a)

In [ ]:
print(b,type(b))

In [ ]:
a = "2+5j"

In [ ]:
print(a,type(a))

In [ ]:
b = bool(a)

In [ ]:
print(b,type(b))

In [ ]:
a="Hello"

In [ ]:
print(a,type(a))

In [ ]:
b=bool(a)

In [ ]:
print(b,type(b))

In [101]:
a=""
print(a,type(a))

 <class 'str'>

In [102]:
b=bool(a)
print(b,type(b))

False <class 'bool'>

# Type Casting: int, float, bool, and str to complex

In [103]:
a=10+4

In [104]:
print(a,type(a))

14 <class 'int'>

In [105]:
b=complex(a)

In [106]:
print(b,type(b))

(14+0j) <class 'complex'>

In [107]:
a=2.3

In [108]:
print(a,type(a))

2.3 <class 'float'>

In [109]:
b=complex(a)

In [110]:
print(b,type(b))

(2.3+0j) <class 'complex'>

In [111]:
a=True

In [112]:
print(a,type(a))

True <class 'bool'>

In [113]:
b=complex(a)

In [114]:
print(b,type(b))

(1+0j) <class 'complex'>

In [115]:
a="10"

In [116]:
print(a,type(a))

10 <class 'str'>

In [117]:
b=complex(a)

In [118]:
print(b,type(b))

(10+0j) <class 'complex'>

In [119]:
a="2.3"

In [120]:
print(a,type(a))

2.3 <class 'str'>

In [121]:
b=complex(a)

In [ ]:
print(b,type(b))

In [122]:
a = "2+5j"

In [123]:
print(a,type(a))

2+5j <class 'str'>

In [124]:
b = complex(a)

In [125]:
print(b,type(b))

(2+5j) <class 'complex'>

In [126]:
a="True"

In [127]:
print(a,type(a))

True <class 'str'>

In [128]:
b=complex(a)

ValueError: complex() arg is a malformed string

In [129]:
a="Python"

In [130]:
print(a,type(a))

Python <class 'str'>

In [ ]:
b=complex(a)

# Type Casting: int, float, bool, and complex to str

In [131]:
a=100

In [132]:
print(a,type(a))

100 <class 'int'>

In [133]:
b=str(a)

In [134]:
print(b,type(b))

100 <class 'str'>

In [135]:
a=12.45

In [136]:
print(a,type(a))

12.45 <class 'float'>

In [137]:
b=str(a)

In [138]:
print(b,type(b))

12.45 <class 'str'>

In [139]:
a=True

In [140]:
print(a,type(a))

True <class 'bool'>

In [141]:
b=str(a)

In [142]:
print(b,type(b))

True <class 'str'>

In [143]:
a=3+5j

In [144]:
print(a,type(a))

(3+5j) <class 'complex'>

In [145]:
b=str(a)

In [ ]:
print(b,type(b))

# Understanding Type Casting in Python

Type casting, also known as type conversion, is the process of converting one data type into another. In Python, there are two main types of type casting: implicit and explicit.

# Implicit Type Casting (Coercion)

Automatic conversion by the programming language during operations involving different data types.

Example: Addition of an integer and a floating-point number results in the integer being implicitly converted to a floating-point number before addition.

In [ ]:
a=2
b=3.4
c=a+b
print(c,type(c))

In [ ]:
a = 6
b = 2
result = a / b  # Here, 'a' is implicitly cast to a floating-point number before division.
print(result,type(result))

In [ ]:
int_num = 10
float_num = 10.5
is_greater = int_num > float_num  # The 'int_num' is implicitly cast to a floating-point number for the comparison.
print(is_greater,type(is_greater))

In [ ]:
value = 0
z = 0
print(z == value)  # Here, 'value' is implicitly cast to a boolean. Any non-zero value is considered 'True'.
print(z,type(z))

In [ ]:
real = 2
complex_num = 3 + 4j
result = real + complex_num  # Here, 'real' is implicitly cast to a complex number for the addition.
print(result,type(result))

# Explicit Type Casting

Conversion explicitly instructed by the programmer.
Ensures conversion happens as intended, especially when there's a possibility of data loss.

Example: Converting a string to an integer using the int() function.

In [ ]:
float_num = 7.8  
int_num = int(float_num)  # Explicitly cast 'float_num' to an integer using the int() function.
int_num

In [ ]:
num = 123
text = str(num) # Explicitly cast 'num' to a string using the str() function.
c=text+" This is my value"
print(c,type(c))

In [ ]:
num_str = "456.45"
num = float(num_str)  # Explicitly cast 'num_str' to an integer using the int() function.
num

In [ ]:
value = 42
value_as_float = float(value)  # Explicitly cast 'value' to a floating-point number using the float() function.
print(value_as_float)

In [ ]:
is_true = True
int_value = int(is_true)  # Explicitly cast 'is_true' (True) to the integer value 1.
print(int_value,type(int_value))

In [1]:
x=10
y=10.5
z="7"
a=x+y 20.5
a=str(a) '20.5'  
b=z+a '7'+'20.5'
print(b) '720.5'

720.5

# Understanding Mutable and Immutable Objects in Python

# Mutable Objects

Mutable objects allow modification of their state or value after creation.

<b>Examples:</b> lists, dictionaries, sets, and user-defined mutable classes.

<b>Analogy:</b> Think of mutable objects as magic bags that can change their contents without needing a new bag.

You can add or remove items from a list without creating a new list object.

In [ ]:
my_list = [1, 2, 3]
print("Original List ID:", id(my_list))  # Print original list ID
my_list.append(4)  # Modify the list
print("Updated List ID:", id(my_list))  # Print updated list ID

In [ ]:

my_dict = {'a': 1, 'b': 2}
print("Original Dictionary ID:", id(my_dict))  # Print original dictionary ID
my_dict['c'] = 3  # Modify the dictionary
print("Updated Dictionary ID:", id(my_dict))  # Print updated dictionary ID

In [ ]:

my_set = {1, 2, 3}
print("Original Set ID:", id(my_set))  # Print original set ID
my_set.add(4)  # Modify the set
print("Updated Set ID:", id(my_set))  # Print updated set ID

In [ ]:
# Example 5: Mutable Nested Data Structure
nested_list = [[1, 2, 3], [4, 5, 6]]
print("Original Nested List ID:", id(nested_list))  # Print original nested list ID
nested_list[0].append(4)  # Modify the nested list
print("Updated Nested List ID:", id(nested_list))  # Print updated nested list ID

# Immutable Objects

Immutable objects cannot be modified after creation.


<b>Examples:</b> integers, floats, strings, tuples, and frozen sets.

<b>Analogy:</b> Immutable objects are like glass jars with messages inside – once written, they cannot be changed directly.

To modify the value of an immutable object, you need to create a new object with the desired value.

In [ ]:
my_str = "Hello"
print("Original String ID:", id(my_str))  # Print original string ID
# Creating a new string with the modified value
new_str = my_str + " World"
print("New String ID:", id(new_str))  # Print new string ID

In [ ]:
my_tuple = (1, 2, 3)
print("Original Tuple ID:", id(my_tuple))  # Print original tuple ID
# Attempting to modify an immutable tuple
# Raises an error because tuples are immutable
my_tuple[0] = 4

In [ ]:
my_float = 3.14
print("Original Float ID:", id(my_float))  # Print original float ID
# Attempting to modify an immutable float
# Raises an error because floats are immutable
my_float += 1.5

print("Updated Float ID",id(my_float))

In [ ]:
my_str = "Python"
print("Original String ID:", id(my_str))  # Print original string ID
# Slicing to create a new string with the modified value
new_str = my_str[:2] + "i" + my_str[3:]
print("New String ID:", id(new_str))  # Print new string ID

In [ ]:
my_string = "Hello"
print(id(my_string))  # Get the memory address of my_string

my_string += " World"  # Create a new string object with the modified value
print(id(my_string))   # Memory address is different for the new string

# Changes to the string do not affect the original one
another_string = my_string
another_string += "!"  # Create another new string object
print(my_string)       # The original string is still "Hello World"