# Tuple


A tuple is an ordered collection of elements, usually of different data types. It maintains the order of the elements as they are added.

An object of tuple maintains Insertion Oder i.e. In whichever Order, we insert the data, in the same order we get the output

Think of a tuple like a special bag where you can put different items in a specific order. You can't change the items once they're inside the bag, and you can't add or remove anything from it. Each item has a number that shows its place in the bag, starting from 0 for the first item. Tuples are often used when you want to keep a few related things together, like coordinates or pieces of information. They're like a fixed set of things that you can look at, but you can't change what's inside.

Immutable: Tuples are immutable, which means once created, you cannot modify, add, or remove elements from them. You can only create a new tuple if you need to make changes.

Syntax: Tuples are typically defined using parentheses () and separating elements with commas. For example: (1, "apple", 3.14).

 Heterogeneous: Tuples can hold elements of different data types. For instance, a tuple can contain an integer, a string, and a floating-point number in the same order.

 Accessing Elements: Elements within a tuple can be accessed using indexing. Indexing starts from 0 for the first element, 1 for the second, and so on. For example, in the tuple (1, 2, 3), 1 is accessed using index 0.

 Use Cases: Tuples are often used to represent a collection of related values that need to be kept together. For instance, storing coordinates (x, y) or date-time information (year, month, day, hour, minute, second).

 Function Returns: Tuples are commonly used to return multiple values from a function. This allows you to return a structured set of values instead of using separate return statements.

 Unpacking: You can unpack the elements of a tuple into individual variables. This is particularly useful when a function returns a tuple, and you want to assign its elements to different variables.

 Comparing Tuples: Tuples can be compared element-wise. The comparison starts from the first element of each tuple. If they're equal, the second elements are compared, and so on.

 Size and Performance: Tuples generally consume less memory compared to lists (another common data structure), as they are immutable and don't need methods for modification. This can make them slightly faster and more memory-efficient in certain situations.

There are two types of tuples

Non Empty Tuple

Empty Tuple

In [1]:
# Empty Tuple
a=()
print(a,type(a))

() <class 'tuple'>

In [2]:
b=1,2,3
print(b,type(b))

(1, 2, 3) <class 'tuple'>

In [11]:
my_tuple = ("apple", "banana", "cherry", "orange", "grape", "kiwi")
print(my_tuple,type(my_tuple),id(my_tuple))

('apple', 'banana', 'cherry', 'orange', 'grape', 'kiwi') <class 'tuple'> 1779100473888

Accessing Elements:

You can access elements of a tuple using indexing:

In [12]:
print(my_tuple[0])  # Output: apple
print(my_tuple[2])  # Output: cherry

apple
cherry

Slicing:
    
You can slice tuples to extract a subset of elements:

In [13]:
print(my_tuple[1:4])  # Output: ('banana', 'cherry', 'orange')

('banana', 'cherry', 'orange')

Length:

You can find the length of a tuple using the len() function:

In [15]:
print(len(my_tuple))  # Output: 6

6

Concatenation:
    
You can concatenate tuples using the + operator:

In [16]:
new_tuple = my_tuple + ("melon", "pineapple")
print(new_tuple)  # Output: ('apple', 'banana', 'cherry', 'orange', 'grape', 'kiwi', 'melon', 'pineapple')

('apple', 'banana', 'cherry', 'orange', 'grape', 'kiwi', 'melon', 'pineapple')

Repetition:
    
You can repeat a tuple using the * operator:

In [17]:
repeated_tuple = my_tuple * 2
print(repeated_tuple)  # Output: ('apple', 'banana', 'cherry', 'orange', 'grape', 'kiwi', 'apple', 'banana', 'cherry', 'orange', 'grape', 'kiwi')

('apple', 'banana', 'cherry', 'orange', 'grape', 'kiwi', 'apple', 'banana', 'cherry', 'orange', 'grape', 'kiwi')

Membership:
    
You can check if an element is present in a tuple using the in keyword:

In [18]:
print("orange" in my_tuple)  # Output: True
print("pear" in my_tuple)    # Output: False

True
False

Iteration:

You can iterate over a tuple using a loop:

In [20]:
for item in my_tuple:
    print(item)

apple
banana
cherry
orange
grape
kiwi

In [22]:
my_tuple = ("apple", "banana", "cherry", "orange", "grape", "kiwi", "banana")

Counting Occurrences with count():

count() returns the number of occurrences of a specified value in the tuple:

In [23]:
print(my_tuple.count("banana"))  # Output: 2

2

Finding Index with index():
    
index() returns the index of the first occurrence of a specified value in the tuple:

In [24]:
print(my_tuple.index("orange"))  # Output: 3

3

Finding Minimum Value with min():
    
min() returns the minimum value in the tuple:

In [25]:
numbers_tuple = (10, 20, 5, 15, 25)
print(min(numbers_tuple))  # Output: 5

5

Finding Maximum Value with max():
    
max() returns the maximum value in the tuple:

In [26]:
print(max(numbers_tuple))  # Output: 25

25

Finding Sum Values with sum():
    
Using sum() to find the sum of elements in the tuple

In [28]:
print(sum(numbers_tuple))

75

Finding index of number with index():

Using index() to find the index of a specified value

In [30]:
print(numbers_tuple.index(15))

3

# Functions/methods that are not applicable to tuples due to their immutable nature:

append(): Tuples do not support item assignment or appending because they are immutable.

remove(): Since tuples are immutable, you cannot remove elements from them.

pop(): Tuples do not have a pop() method because they cannot be modified.

insert(): Tuples do not support insertion or any form of item assignment.

sort(): Tuples do not support sorting because they are immutable.

reverse(): Similarly, tuples do not support reversing their elements.

extend(): Tuples cannot be extended with additional elements.

clear(): Tuples cannot be cleared of their elements because they cannot be modified.

resize(): Unlike lists, tuples do not have a method to resize them because tuples are immutable.

del statement: The del statement cannot be used to delete specific elements of a tuple as it can with lists.

copy(): While tuples support copying using the copy() function, it's essentially a shallow copy operation as tuples cannot contain mutable objects.

setitem(): Tuples do not support item assignment using the __setitem__() method because they are immutable.

delitem(): Similarly, tuples do not support item deletion using the __delitem__() method.
    
update(): Tuples do not have an update() method as dictionaries do. Tuples are not dictionaries, and they cannot be updated in place.

In [37]:
p=(12,True,33.33,"String","JPMORGAN",3+6j,"Nano")
print(p,type(p),id(p))

(12, True, 33.33, 'String', 'JPMORGAN', (3+6j), 'Nano') <class 'tuple'> 1779110959264

In [38]:
print(p[3])

String

In [39]:
print(p[-2:-5:-1])

((3+6j), 'JPMORGAN', 'String')

In [40]:
p[2]=22

TypeError: 'tuple' object does not support item assignment

In [35]:
p.add(3)

AttributeError: 'tuple' object has no attribute 'add'

In [44]:
p.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [45]:
p.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [46]:
c=p.copy() #shallow copy

AttributeError: 'tuple' object has no attribute 'copy'

In [47]:
# INNER OR NESTED TUPLE

In [48]:
t=(10,"Travel","Numpy1.22",True,33.22,["JK","TP",11,66,36.27,False],[True,"KL","HT","NT"],3+2j,5+2j,True,False)

In [49]:
print(t)

(10, 'Travel', 'Numpy1.22', True, 33.22, ['JK', 'TP', 11, 66, 36.27, False], [True, 'KL', 'HT', 'NT'], (3+2j), (5+2j), True, False)

In [50]:
for i in t:
    print(i)

10
Travel
Numpy1.22
True
33.22
['JK', 'TP', 11, 66, 36.27, False]
[True, 'KL', 'HT', 'NT']
(3+2j)
(5+2j)
True
False

In [51]:
print(t[2],t[5])

Numpy1.22 ['JK', 'TP', 11, 66, 36.27, False]

In [52]:
print(t[1],t[5],t[7])

Travel ['JK', 'TP', 11, 66, 36.27, False] (3+2j)

In [53]:
t

(10,
 'Travel',
 'Numpy1.22',
 True,
 33.22,
 ['JK', 'TP', 11, 66, 36.27, False],
 [True, 'KL', 'HT', 'NT'],
 (3+2j),
 (5+2j),
 True,
 False)

In [54]:
print(t[2],type(t[2]),t[3],type(t[3]),t[6],type(t[6]),t[7],type(t[7]))

Numpy1.22 <class 'str'> True <class 'bool'> [True, 'KL', 'HT', 'NT'] <class 'list'> (3+2j) <class 'complex'>

In [55]:
u=print(t[4],type(t))

33.22 <class 'tuple'>

In [56]:
print(u)

None

In [57]:
l=[2,5,8,73,35,"String",22.22]
print(l,type(l))

[2, 5, 8, 73, 35, 'String', 22.22] <class 'list'>

In [58]:
d=l.copy()

In [59]:
print(l,id(l))
print(d,id(d))

[2, 5, 8, 73, 35, 'String', 22.22] 1779110835456
[2, 5, 8, 73, 35, 'String', 22.22] 1779110249280

In [60]:
o=(1,2,3,4,54,5,533,55)

In [61]:
t=list(o)
print(t)

[1, 2, 3, 4, 54, 5, 533, 55]

In [62]:
print(o,id(o),type(o))
print(t,id(t),type(t))

(1, 2, 3, 4, 54, 5, 533, 55) 1779111341760 <class 'tuple'>
[1, 2, 3, 4, 54, 5, 533, 55] 1779110590464 <class 'list'>

In [63]:
j=tuple(t)
print(j)

(1, 2, 3, 4, 54, 5, 533, 55)

In [64]:
print(j,type(j))

(1, 2, 3, 4, 54, 5, 533, 55) <class 'tuple'>

In [65]:
a=34,85,22,75  #tuple a with elements 
print(a,type(a))

(34, 85, 22, 75) <class 'tuple'>

In [66]:
#tuple unpacking
#extracting the elemtents from the tuples in different varaible

In [67]:
a,b,c,d=a
print(a)
print(b)
print(c)
print(d)

34
85
22
75

In [68]:
print(type(a),type(b),type(c),type(d))

<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [69]:
print(a)

34

In [70]:
print(b)

85

In [71]:
print(c)

22

In [73]:
print(d)

75

In [74]:
my_tuple=a,b,c

In [76]:
print(my_tuple,id(my_tuple),id(my_tuple))

(34, 85, 22) 1779110575680 1779110575680

In [79]:
f=[3,4,1,3,6,4,3,3,2,3,5,5,4,57,6,4,6,8] 
i=list(f)
u=tuple(f)
j=set(f)
y=frozenset(f)
print(i,type(i))
print(u,type(u))
print(j,type(j))
print(y,type(y))

[3, 4, 1, 3, 6, 4, 3, 3, 2, 3, 5, 5, 4, 57, 6, 4, 6, 8] <class 'list'>
(3, 4, 1, 3, 6, 4, 3, 3, 2, 3, 5, 5, 4, 57, 6, 4, 6, 8) <class 'tuple'>
{1, 2, 3, 4, 5, 6, 8, 57} <class 'set'>
frozenset({1, 2, 3, 4, 5, 6, 8, 57}) <class 'frozenset'>