# Operators and Expression in Python

Operators in Python are special symbols or keywords that are used to perform operations on variables and values. 

They are a fundamental part of the Python language and are used for tasks like arithmetic operations, logical comparisons, assignment, and more.

An Operator is a symbol, which is used to perform certain operations on the Values or 
 Variables or Objects.
 
If two or More object or Variables connected with an Operator is called Expression.

In Python Programming, we have 7 Operators. They are

1. Arithmetic Operators
2. Assigment Opetraor
3. Relational Operators (Comparison Operators)
4. Logical Operators
5. Bitwise Operators
6. Membership Operators
7. Identity Operators

# Arithmetic Operators

Arithmetic operators in Python are special symbols for performing math operations.

If two or more Variables or Values connected with Arithmetic Operators then it is called Arithmetic Expression.

They enable you to perform basic math operations like addition, subtraction, multiplication, division, finding remainders, and exponentiation.

These operators are fundamental for working with numbers in Python.

Common arithmetic operators in Python include:
+ for addition
- for subtraction
* for multiplication
  / for division

  % for finding remainders

  // for floor division

  ** for exponentiation.

You use these operators to perform calculations and obtain numerical results in your Python code.

In [1]:
a=28
b=3
c=a+b
d=a-b
e=a*b
f=a/b
g=a//b   #quotent
i=a**b   #exponential expression
j=a%b    #reminder
print(c)
print(j) #modulo

31
1

In [2]:
print(d)

25

In [3]:
a=10
b=30
c=a+b
e=a-b
f=a*b
g=a/b
h=a%b
i=a//b
j=a**b

In [4]:
a=30
b=2
c=a//b
print(c)

15

In [5]:
2**4

16

In [6]:
print(e)

-20

In [7]:
print(f)

300

In [8]:
print(g)

0.3333333333333333

In [9]:
print(i)

0

In [10]:
print(3**4)

81

In [11]:
v=5
i=5
print(v**i)

3125

In [12]:
3**3

27

In [13]:
12^10

6

In [14]:
a=10

In [15]:
7//-2   #3   3.5  -4

-4

In [16]:
17//-3

-6

# Assignment Operator

The assignment operator in Python is represented by the equal sign =.

Its primary purpose is to assign a value on the right-hand side (RHS) to a variable on the left-hand side (LHS). 

In Python Programming, we can use assignment in two ways. They are

1) Single Line Assigment
2) Multi Line Assigment

Chained Assignment:

You can assign the same value to multiple variables in a single line.
Syntax: variable1 = variable2 = value
Example:
a = b = 10  # Assigns the value 10 to both 'a' and 'b'.



Multiple Assignments:

You can assign different values to multiple variables in a single line.
Syntax: variable1, variable2 = value1, value2
Example:
name, age = "Alice", 30  # Assigns "Alice" to 'name' and 30 to 'age'.



Assignment with Expressions:

You can use expressions on the RHS and assign the result to a variable on the LHS.
Syntax: variable = expression
Example:
total = 2 * 3 + 4  # Calculates the expression (2 * 3 + 4) and assigns the result (10) to 'total'.
The assignment operator is fundamental in Python as it allows you to store and manipulate data by giving names (variables) to values. 
It's used extensively in programming to work with data and perform various operations.

In [17]:
book=table=50
print(book)
print(table)

50
50

In [18]:
name,age,salary="Kishor",30,40000
print(name)
print(age)
print(salary)

Kishor
30
40000

In [19]:
add=4*8+12
print(add)

44

In [20]:
a,b=20,30
print(a,b,type(a),type(b))

20 30 <class 'int'> <class 'int'>

In [21]:
print(a,b)

20 30

In [22]:
empid,empname,empcity=1,"Sarthak","Pune"

In [23]:
print(empid,type(empid))
print(empname,type(empname))
print(empcity,type(empcity))

1 <class 'int'>
Sarthak <class 'str'>
Pune <class 'str'>

In [24]:
a=10
b=20
c,d,e=a+b,a-b,a*b
print(c,d,e)

30 -10 200

# Relational Operator

Relational operators, also known as comparison operators, are used in programming to compare two values and determine the relationship between them. 

These operators return a Boolean result, either True or False, depending on whether the specified relationship between the values is true or false. In Python, there are several relational operators:

The purpose of Relational Operators is that " To compare two or more values.

If two or more values are connected with relationa Operators then it is called Relational 
 Expression.

In Python program, we have 6 Relational Operator

a>b

a==b

a<b
    
a>=b
    
a<=b
    
a!=b

In [25]:
print(2<>8)   #similar to not equal it is available in python2.x bot in 3.x

SyntaxError: invalid syntax (807550977.py, line 1)

In [26]:
a=57
b=67
print(a>b)

False

In [27]:
print(a==b)

False

In [28]:
print(a<b)

True

In [29]:
print(a!=b)

True

In [30]:
print(a != b)

True

In [31]:
a = 4
b = 6
print(a <> b)

SyntaxError: invalid syntax (254638867.py, line 3)

# Logical Operator

In Python, logical operators are used to perform logical operations on Boolean values 
(True and False) or to combine the results of comparisons. 

Python provides three main logical operators: and, or, and not. 
    
These operators allow you to create more complex conditions and make decisions in your code.

The purpose of Logical Operators is that "To combine two or more Relational Expressions"

If two or More Relational Expressions connected Logical Operators then it is called Logical 
 Expression (Compund Conditions ) and gives the result either True or False
    
In Python Programming, we have 3 Logical Operators. 

They are

a) and

b) or

c) not

and operator


Short Circuit Evaluation:
 
In the case 'and' operator, if the logical Expression contains n-relational expressions and if the First 
relational Expression is False then The entire result of Logical Expression is False (Without executing 
remain n-1 relational Expressions) .

This process is called Short Circuit Evaluation

Short-circuit evaluation is a concept in programming, primarily associated with logical operators, where the evaluation of an expression stops as soon as the outcome can be determined. 

In the context of the and operator, if the first relational expression (operand) is False, the entire expression is guaranteed to be False, and there's no need to evaluate the remaining relational expressions. 

This optimization can improve code efficiency and avoid unnecessary computations.


Logical AND (and) Operator:
    
The and operator returns True only if both of its operands are True.

If the first operand is False, there is no need to check the second operand because, regardless of its value, the result will always be False.

In [32]:
a=0b1010    
b=0b0110
c=a and b
print(c)

6

In [33]:
a,b,c=10,20,30

In [34]:
a>b and a>c

False

In [35]:
True and True and True and True and True and False and True and True

False

In [36]:
10>4 and 10>22

False

In [37]:
100>22 and 100>99

True

In [38]:
a=1000>223 and 12392>3432 and 233393>22343 and 233922>2339 and 223933352>223343 and 10!=10
print(a)

False

In [39]:
a=6  # 0110
b=4  # 0100
c=a and b
print(c)

4

In [40]:
a=34 and 46  and "Hello" and "Bye" and "" and 67 and 88 and 3568 and 12334
print(a)

In [41]:
a=10
b=6
c=a and b
print(c)

6

In [42]:
a=34
b=67

In [43]:
print(not(a<b or a==34 or a!=34))

False

or operator

the or operator is a logical operator used for combining conditional statements. It returns True if at least one of the conditions it combines is True. Here's how it works:

Syntax:

condition1 or condition2
If condition1 is True, the or operator returns True without even evaluating condition2 because it's not necessary to do so.

If condition1 is False, the or operator then evaluates condition2. If condition2 is True, the overall result is True. If condition2 is also False, the overall result is False.

In [44]:
False or False or "" or False or False or False or False

False

In [45]:
100>202222 or 30>23223 or 239>23223 or 2239>222373 or 2223>22339 or 222>2222

False

In [46]:
r=[1,24,5,6,7,7,5,3,3,4,7]
print(7 not in r)

False

In [47]:
true    false
false    true

SyntaxError: invalid syntax (1264219245.py, line 1)

In [48]:
q=133
r=223
print(133 not in q)

TypeError: argument of type 'int' is not iterable

In [ ]:
a=10
b=20

In [ ]:
print(not a!=b)

In [ ]:
print(not(a<b or 10==20))

In [ ]:
a,b=10,20
print(not a<b or not 10!=20)

In [ ]:
10>8 and 10>5 and 10>4 and 10>88 and 10>2

In [ ]:
a,b,c=10,20,30
b>a and a>c

In [ ]:
10>32 or 10>33 or 10>2 or 10>22 or 10>11 or 10>111

In [ ]:
false or true or true

In [49]:
false and true and true or true and true and false or true

NameError: name 'false' is not defined

In [50]:
10>20 and 20!=30 and 40>20 or 20!=45 and 33>22 and 224<23 or 22223>2232

True

In [51]:
10>20 or 20!=30 and 40>20 and 20!=45 and 22>22  or 33>223 and 223>223

False

In [52]:
10>20 or 20!=30 and 40>20 and 20==45

False

In [53]:
not(10>20 or 20!=30 and 40>29 and 20==45 and 55>22 or 33>11 and 33>22)

False

In [54]:
a=10
b=20
print(not a>b)

True

In [55]:
print(not(a>b or 10!=20))

False

In [56]:
print(not a<b or not 10!=20)

False

In [57]:
10 and 20

20

In [58]:
50 and 60

60

In [59]:
1 and 2 and 3 and 4 and 7

7

In Python, when you use the and operator (1 and 2 in this case), the result will be the second operand if the first operand is considered "truthy" (i.e., not equal to False, None, 0, 0.0, "", [], {}, etc.). Otherwise, the result will be the first operand. This behavior is known as short-circuiting.

In [60]:
[] or 3 or 2 or 2 or []

3

# Bitwise Operator

Bitwise operators in Python are used to perform operations on individual bits of integers but not on floating point values(becuase floating point values does not certain certianity 

Bitwise operators are like tools that help a computer work with the tiny pieces of information that make up numbers and other stuff on a computer. Imagine numbers and letters are made up of tiny switches that can either be on (1) or off (0).

These operators work at the binary level, manipulating the binary representations of numbers.

These operators work at the binary level, allowing you to perform operations on the individual bits of integers or other data types that can be represented in binary form (such as characters).

Python provides several bitwise operators:

Bitwise AND (&) 

Bitwise OR (|)

Bitwise XOR (^)  

Bitwise NOT (~)  

Left Shift (<<)  

Right Shift (>>)

# Bitwise AND Operator(&)
The bitwise AND operator (&) is a fundamental operator in computer programming used to perform a bitwise AND operation between two binary numbers or binary representations of integers. It compares each pair of corresponding bits and returns a result where each bit is set to 1 only if both bits in the same position are 1.

Here's how the bitwise AND operator works:

If both bits are 1, the result bit is set to 1.

If one or both bits are 0, the result bit is set to 0.

And

   input1  imput2   
       1     1      1
       0      1    0 
       1      0     0
       0      0      0

In [61]:
AND

1 1 0 0 
1 0 1 0
1 0 0 0

SyntaxError: invalid syntax (1765027629.py, line 3)

In [62]:
5 and 6 and 2 and 9 and 2 and 1 and 91

91

In [63]:
a=247
b=12
c=a & b
print(c)

4

In [64]:
s1={10,20,30,40}
s2={50,70,20,80}
c=s1 & s2
print(c)   #Intersection

{20}

In [65]:
bin(247)

'0b11110111'

In [66]:
bin(12)

'0b1100'

In [67]:
11110111
00001100
4

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3353627729.py, line 2)

In [68]:
11110111
10000000
10000000

10000000

In [69]:
2 247
  123 1
  61  1
  35  0
  17  1
   8  1
    4 0
    2 0
    1 0
(100011011) 
(1000000)

SyntaxError: invalid syntax (850656285.py, line 1)

In [70]:
2  128
    64  0
    32  0
    16   0
    8   0
    4   0
    2   0
    1

SyntaxError: invalid syntax (3715908860.py, line 1)

In [71]:
0110
1100
0100

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (613445293.py, line 1)

In [72]:
a=56

In [73]:
b=14

In [74]:
c=a&b

# 1 1 1 0 0 0
  0 0 1 1 1 0
      1 0 0 0 
        2^3*1  2^2*0 2^1*0 2^0*0

IndentationError: unexpected indent (2970108812.py, line 4)

In [75]:
print(c)

{20}

In [76]:
y=23
b=18
print(y&b)

18

In [78]:
t=bin(y)
print(t)
p=bin(18)
print(p)
  
    
    1       0       1      0         1
  2^4*1         2^3*0       2^2*1         2^1*0        2^0*1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

In [79]:
a=0b10101
print(a)

21

In [80]:
0  0000
1  0001
2  0010
3  0011
4  0100
5  0101
6  0110
7  0111
8  1000
9  1001
10 1010
11 1011
12 1100
13 1101
14 1110
15 1111

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1176803911.py, line 2)

In [81]:
s1={13,63,52,44}
s2={32,57,25,13}
s3=s1&s2
print(s3)
r=s1.intersection(s2)
print(r)

{13}
{13}

# Bitwise OR operator (|)
The bitwise OR operator (|) is a fundamental operator in computer programming used to perform a bitwise OR operation between two binary numbers or binary representations of integers. It compares each pair of corresponding bits and returns a result where each bit is set to 1 if at least one of the bits in the same position is 1.

Here's how the bitwise OR operator works:

If at least one of the bits is 1, the result bit is set to 1.
If both bits are 0, the result bit is set to 0.

In [82]:
1 0 1 0
0 1 1 0
1 1 1 0

SyntaxError: invalid syntax (2049927735.py, line 1)

In [83]:
a=34
b=167
c= a | b
print(c)

167

In [84]:
167
167

167

In [85]:
1100
0111
1111

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1690373436.py, line 2)

In [86]:
11100101
0b00010001

17

In [87]:
s1={10,20,30,40}
s2={50,70,20,80}
c= s1 | s2
print(c)

{70, 40, 10, 80, 50, 20, 30}

In [88]:
5 | 8

13

In [89]:
0101
1000
1101

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1039181050.py, line 1)

In [90]:
s1={10,20,30}
s2={60,20,50}
s1 | s2   #union

{10, 20, 30, 50, 60}

In [91]:
0 or 0 or 0 or 0 or 9 or 0 or 0 or 9 or 5 or 0

9

In [92]:
a=7

In [93]:
g=12

In [94]:
print(a | g)

15

In [95]:
print(3| 6)
0011
0110
0111

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1746476789.py, line 2)

In [96]:
b
s3=s1.union(s2)
print(s3)
s4= s1 | s2
print(s4)

{50, 20, 10, 60, 30}
{50, 20, 10, 60, 30}

# Bitwise XOR Operator(^)
The bitwise XOR operator (^) is a fundamental operator in computer programming used to perform a bitwise XOR (exclusive OR) operation between two binary numbers or binary representations of integers.

It compares each pair of corresponding bits and returns a result where each bit is set to 1 if and only if exactly one of the bits in the same position is 1.

Here's how the bitwise XOR operator works:

If one, but not both, of the bits is 1, the result bit is set to 1.

If both bits are 0 or both bits are 1, the result bit is set to 0.

In [97]:
1 0 0 1
0 1 0 1
1 1 0 0

SyntaxError: invalid syntax (4182906259.py, line 1)

In [98]:
15 ^ 6

9

In [99]:
0110
1111
1001

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (714740187.py, line 1)

In [100]:
s1={10,20,30}
s2={12,20,45}
c=s1 ^ s2
print(c)   #symmetric_difference

{10, 12, 45, 30}

In [101]:
10 ^ 6

12

In [102]:
1010
0110
1100

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1173485714.py, line 2)

In [103]:
s1={10,20,30}
s2={10,15,25}

s1 ^ s2    #symmetric_difference(s2b)

{15, 20, 25, 30}

In [104]:
s3=s1.symmetric_difference(s2)
print(s3)

{15, 20, 25, 30}

In [105]:
a=33   100001

SyntaxError: invalid syntax (2225408898.py, line 1)

In [106]:
b=23    10111

SyntaxError: invalid syntax (2059398179.py, line 1)

In [107]:
c=a^b
print(c)

160

In [108]:
s1={100,230,44,302}
s2={11,153,44,255}
s4=s1^s2
print(s4)
s6=s1.symmetric_difference(s2)
print(s5)
print(s6)

{100, 230, 11, 302, 153, 255}

NameError: name 's5' is not defined

# Bitwise Complement Operator(~)

The bitwise complement operator, represented by ~, is a unary operator in computer programming used to invert (flip) all the bits of a binary number or binary representation of an integer. In other words, it changes each 0 to 1 and each 1 to 0 in the binary representation of a number.

~N = -(N+1)

N 1's complement = (N+1) 2's complement

Here's how the bitwise complement operator works:

For each bit in the binary representation:
If the bit is 0, it is changed to 1.

If the bit is 1, it is changed to 0.

In [109]:
~4=  -(N+1)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1757254218.py, line 1)

In [110]:
~4    #-(4+1)

-5

In [111]:
~-56    # -(-56+1)   -(-55)

55

In [112]:
~N=-(N+1)   = -(13+1)  -14

SyntaxError: cannot assign to expression (1880347699.py, line 1)

In [113]:
~-13   # -(N+1) =   -(-13+1)  -(-12)

12

In [114]:
~73  # -(73+1)

-74

In [115]:
~-234

233

# Left Shift Operator(<<)
The bitwise left shift operator (<<) is used to shift the binary representation of a number's bits to the left by a specified number of positions. In simple terms, it's like moving all the switches (bits) of a binary number to the left.

In [116]:
a=10

In [117]:
b=a<<3
print(b)

80

In [118]:
0000 0000 0000 1010
0000 0000 0101 0000

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1389275326.py, line 2)

In [119]:
Given Bits=Given Value*(2**3)

SyntaxError: invalid syntax (2489722684.py, line 1)

In [120]:
10*8

80

In [121]:
a=67
b=a<<6
print(b)

4288

In [122]:
67*64

4288

In [123]:
2**6

64

In [124]:
16+64

80

In [125]:
2**6

64

In [126]:
0000 0000 0000 1010
0000 0000 1010 0000

SyntaxError: invalid syntax (3172332184.py, line 1)

In [127]:
0 0 0 0    0   0   0    0    1  0  1  0    0 0   0   0

SyntaxError: invalid syntax (486412333.py, line 1)

In [128]:
1*(2**7)+1*(2**5)

160

In [129]:
d=8
c=d<<3
print(c)

64

In [130]:
0000 0000 0000 1000
0000 0000 0100 0000

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (465385352.py, line 2)

In [131]:
8*2**3

64

In [132]:
Given Data<<No. of bits==> Given Data*(2** no. of bits)

SyntaxError: invalid syntax (2033293247.py, line 1)

In [133]:
2 12
   6 0
   3  0
   1  1
      1

SyntaxError: invalid syntax (326038662.py, line 1)

In [134]:
a=10

In [135]:
b=a<<4
print(b)

# 0000 0000 1010 0000
#        1*2^7  +   1*2^5 0*2^0
#        128          32

160

In [137]:
0000 0000 0000 1010
     0000 0000 1010 0000
    2^5  2^7

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [138]:
v=12
n=v<<20
print(n)
# 0000 0000 0000 1100
#  1100 0000 0000 0000
# 3072

12582912

In [139]:
0000 0000 0000 1100
          0000 1100 0000 0000

SyntaxError: invalid syntax (3798427512.py, line 1)

In [140]:
2**10 + 2**11

3072

In [141]:
k=24
j=k<<12
print(j)
# 98304

98304

In [142]:
0000 0000 0001 1000
             1 1000 0000 0000 0000

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1037169930.py, line 1)

In [143]:
2**15 + 2**16

98304

In [144]:
bin(24)

'0b11000'

In [145]:
2**5

32

In [146]:
2**7

128

In [147]:
32+128

160

In [148]:
print(b)

160

# Bitwise right shift operator (>>)

The bitwise right shift operator (>>) is used to shift the binary representation of a number's bits to the right by a specified number of positions. In simple terms, it's like moving all the switches (bits) of a binary number to the right.

Here's how the bitwise right shift operator works:

Take a binary number (e.g., 110110), which represents a decimal number (e.g., 54).

Use the right shift operator (>>) and specify how many positions you want to shift the bits to the right. For example, 110110 >> 2 means you want to shift the bits 2 positions to the right.

The bits are moved to the right by the specified number of positions, and the empty

In [149]:
a=14
b=a>>2
print(b)

3

In [150]:
0000 0000 0000 1110
0000 0000 0000 0011

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (775233474.py, line 2)

In [151]:
a=11

b=a>>3
print(b)

1

In [152]:
0000 0000 0000 1011
0000 0000 0000 0001

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2974837391.py, line 2)

In [153]:
Given Data>>No. of bits ==> Given Data/(2**No of bits)

SyntaxError: invalid syntax (1752093874.py, line 1)

In [154]:
11 >>3

1

In [155]:
11/2**3

1.375

In [156]:
11//8

1

In [157]:
a=13
c=b>>2
print(c)

0

In [158]:
13//4

3

In [159]:
a=10
b=a>>4
print(b)
 # 0000 0000 0000 1010
 #  000  0000 00000 1

0

In [160]:
a=100         # 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0
c=a>>8        # 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0
              # 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
print(c)

0

In [161]:
000000000000000

0

In [162]:
print(16>>2)
#  00100

4

In [163]:
print(16<<2)

64

In [164]:
print(20>>3)

2

In [165]:
"c" in a

TypeError: argument of type 'int' is not iterable

In [166]:
a=-18
p=bin(-18)
print(p)

10010

01101
+   1
    01101

01101
+   1
   01110

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1781058352.py, line 7)

In [167]:
e=-0b01110
print(e)

-14

In [168]:
bin(18)

'0b10010'

In [169]:
a=-7
bin(a)

111
000
  1

IndentationError: unexpected indent (1960840174.py, line 6)

In [170]:
a=list(range(1,-3,-1))
print(a)

[1, 0, -1, -2]

In [171]:
a=list(range(41,131,2))
print(a)

[41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129]

In [172]:
# create a list of odd numbers from 40 to 130
for i in range(41,131,2):
    print(i)

41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129

In [173]:
p=-0b10010
print(p)

-18

In [174]:
o=-44
  44
  22 0
  11 0
5    1
 2   1
  1   0
     1
    
    
  101100

  010011
       1
       010011
    
       101100

IndentationError: unexpected indent (401610635.py, line 2)

In [175]:
bin(-44)

'-0b101100'

In [176]:
a=-12
1100

0011
1111
   1100

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1637807286.py, line 4)

In [177]:
a=34
bin(34)
100010
011101
111111
    100010

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (72743256.py, line 4)

In [178]:
bin(-12)

'-0b1100'

# Membership Operator
 
membership operators are used to test whether a value is a member of a sequence or collection, such as a string, list, tuple, or set. Python provides two membership operators: in and not in.

What is an Iteratable object:- iteratable object is the in more one value is present
list,tuple,set,dict
 

In Python Programming, we have 2 types of membership operators. They are

1 in

2 not in

in operator: This operator returns True if the specified value is found in the sequence and False otherwise.

not in operator: This operator returns True if the specified value is NOT found in the sequence and False otherwise.

In [179]:
a=[1,2,3,4,5,6,7,8,9]
print(2 not in a)

False

In [180]:
a="Multicolinearity"
print(a)

Multicolinearity

In [181]:
"t" in a

True

In [182]:
"c" in a

True

In [183]:
"ct" in a

False

In [184]:
"i" not in a

False

In [185]:
"ty" not in a

False

In [186]:
"lo" not in a

True

In [187]:
a

'Multicolinearity'

In [188]:
t="PYTHON"

In [189]:
"OTP" not in t[::-1][::2]   #

True

In [190]:
#multicolinearity
"col" in a[::-1]

False

In [191]:
1 111 1111 1000 0000<<3

SyntaxError: invalid syntax (754808458.py, line 1)

In [192]:
a

'Multicolinearity'

In [193]:
"cln" in a[5:10:2]

True

In [194]:
p=[30,"Book",45,22, True,"Pen",34.24]  #float

In [195]:
print(True in p)

True

In [196]:
30 in p

True

In [197]:
True in p

True

In [198]:
34.24 in p[-1]

TypeError: argument of type 'float' is not iterable

In [199]:
True in p

True

In [200]:
a=253+34j
a.real in a

TypeError: argument of type 'complex' is not iterable

In [201]:
"Pen" in p[-2]

True

In [202]:
  "eu" in ["a","eiou"]

False

In [203]:
a=[1,2,3,4,5,2,3,45,6,48]
#duplicates elements remove

# Indentity Operator

identity operators are used to compare the memory locations (identities) of two objects to determine if they are the same object or not. Python provides two identity operators: is and is not.

is operator: This operator returns True if the operands on both sides of the operator refer to the same object in memory, and False otherwise.

is not operator: This operator returns True if the operands on both sides of the operator do not refer to the same object in memory, and False if they do refer to the same object.

In [204]:
-5 to 256 # cache memeory

SyntaxError: invalid syntax (1919180117.py, line 1)

In [205]:
a=257
b=257
a is b

False

In [206]:
a=None
b=None

In [207]:
print(a,id(a))
print(b,id(b))

None 140711786606272
None 140711786606272

In [208]:
a is not b

False

In [209]:
b is a

True

In [210]:
s1="ComputingAi"
s2="Computingai"

In [211]:
print(s1,type(s1),id(s1))
print(s2,type(s2),id(s2))

ComputingAi <class 'str'> 2363519601712
Computingai <class 'str'> 2363519588016

In [212]:
s1 is not s2

True

In [213]:
'2'==2

False

In [214]:
a=10
b=10
print(a is b)

True

In [215]:
a=257
b=257
print(a is b)

False

In [216]:
a=1
b=1
print( a is b)

True

In [217]:
a=999
b=999
print(a is b)

False

In [218]:
a=-2
b=-2
print( a is b)

True

In [219]:
a=-8
b=-8
print( a is b)

False

In [220]:
-5 to 256 range

SyntaxError: invalid syntax (3076091862.py, line 1)

In [221]:
a=257
b=257
print( a is b)

False

In [222]:
s1={12,45,463,63}
s2={45,63,463,12}
print(s1 is s2)

False

In [223]:
s1={12,45,23,63}
s2={12,45,23,63}
print(s1 is s2)

False

In [224]:
s1={12,45,232,63}
s2={12,45,232,63}
print(s1 is s2)

False

In [225]:
r1=range(10,20)
s2=range(10,20)
print(r1 is s2)

False

In [226]:
a=3.45
b=3.45
print( a is b)

False

In [227]:
a=4
c=4
b=float(a)
d=float(c)
print(b is d)

False

In [228]:
print("%0.4000f"%b)
print("%0.4000f"%d)

4.0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
4.0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [229]:
a=3.45
print("%.40f"%a)

3.4500000000000001776356839400250464677811

In [230]:
d=range(10,20)
print(d,type(d))

range(10, 20) <class 'range'>

# Operator Precedance

()  #left to right   Associativity

** #Exponent   #Right to Left   2**3+3**5+4**2

* / // %   #Left to right   2*3/5//42/2%1

+ -  # left to right

<< >> #left to right

&  23 & 34

^   3^5

|,<, > ,>=, <=, ==, !=, is, is not,not in

not

and

or

In [241]:
bin(81)

'0b1010001'

In [242]:
a=0b1011000
print(a)

88

In [243]:
a=50
b=90
c=a+b

In [244]:
print("Sum={}".format(c))

Sum=140

In [245]:
print("Sum of {} and {} is equal to {}".format(a,b,c))

Sum of 50 and 90 is equal to 140

In [246]:
Name="Rohit"
Age=23
Dpt="IT"
print("The Employee name is {} and his age is {} and he is working in {}".format(Name,Age,Dpt))

The Employee name is Rohit and his age is 23 and he is working in IT

In [247]:
print(f"The Employee name is {Name} and his age is {Age} and he is working in {Dpt}")

The Employee name is Rohit and his age is 23 and he is working in IT

In [248]:
a=10
b=20
c=a+b
print("Sum =%d" %c)

Sum =30

In [249]:
print("Sum = %f"%c)

Sum = 30.000000

In [250]:
print("Sum = %0.2f" %c)

Sum = 30.00

In [251]:
a=296.34

In [252]:
b=296.34

In [253]:
c= a is b
print(c)

False

In [254]:
print("Sum = %0.70f" %a)
print("Sum = %0.70f" %b)

Sum = 296.3399999999999749888957012444734573364257812500000000000000000000000000
Sum = 296.3399999999999749888957012444734573364257812500000000000000000000000000

In [255]:
lst=[12,3,4,4,4,3,2,2]
for i in lst[::-1]:
    print(i,end = " ")

2 2 3 4 4 4 3 12

In [256]:
input()

''

In [257]:
a=input("Enter the number:-")

Enter the number:-

In [258]:
print(a,type(a))

 <class 'str'>

In [259]:
a=complex(input("Enter the number:-"))

Enter the number:-

ValueError: complex() arg is a malformed string

In [260]:
print(a,type(a))

 <class 'str'>

In [261]:
a=(6/2)
b=(3/2)  #flaoting
c=('6/2')#  string
print(a/b)

2.0

In [262]:
a=10
b=20
c=a+b
print(c,"Sum of the numbers")

30 Sum of the numbers

In [263]:
print(f"Sum of {a} and {b} is {c}")

Sum of 10 and 20 is 30

In [264]:
print("sum of {} and {} is {}".format(c,a,b))

sum of 30 and 10 is 20