In [ ]:
pip install mysql.connector

In [1]:
import mysql.connector
from mysql.connector import Error

def create_database(host_name, user_name, user_password, db_name):
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )

        cursor = connection.cursor()
        cursor.execute(f"CREATE DATABASE {db_name}")
        print("Database created successfully.")
    except Error as err:
        print(f"Error: '{err}'")
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed.")

# Example usage
host_name = 'localhost'
user_name = 'root'
user_password = 'nilesh123'
new_db_name = 'hostmanagement'

create_database(host_name, user_name, user_password, new_db_name)

Database created successfully.
MySQL connection is closed.

In [2]:
import mysql.connector
from mysql.connector import Error

def create_server_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MYSQL Database Connection Successful")
    except Error as err:
        print(f"Error: '{err}'")
    
    return connection

In [3]:
def create_table(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Table Created Successfully")
    except Error as err:
        print(f"Error:'{err}'")

In [4]:
def  insert_data(connection, query, data):
    cursor = connection.cursor()
    try:
        cursor.execute(query, data)
        connection.commit()
        print("Data Inserted Successfully")
    except:
        print(f"Error: '{err}'")

In [5]:
def query_data(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error:'{err}'")

In [6]:
host = 'localhost'
user = 'root'
password = 'nilesh123'
database = 'hostmanagement'

conn = create_server_connection(host, user, password, database)

create_table_query = """
CREATE TABLE  IF NOT EXISTS employees(
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(100),
    start_date DATE
);
"""

create_table(conn, create_table_query)

MYSQL Database Connection Successful
Table Created Successfully

In [7]:
insert_query = """
INSERT INTO  employees(name,position,start_date)
VALUES(%s, %s, %s);
"""
employees_data=("John Doe","Software Engineer", "2021-06-01")


insert_data(conn,insert_query, employees_data)

Data Inserted Successfully

In [8]:
query = "SELECT * FROM employees;"

employees = query_data(conn , query)
for i in employees:
    print(i)
    
conn.close()

(1, 'John Doe', 'Software Engineer', datetime.date(2021, 6, 1))

# Pretty Table

In [12]:
pip install prettytable

Collecting prettytable
  Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Requirement already satisfied: wcwidth in c:\users\lenovo\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Installing collected packages: prettytable
Successfully installed prettytable-3.10.0
Note: you may need to restart the kernel to use updated packages.

In [13]:
from prettytable import PrettyTable

In [16]:
table = PrettyTable(["Student_Name","Class","Subject","Marks"])

table.add_row(["Akash","X","English","91"])
table.add_row(["Akash","X","English","91"])
table.add_row(["Akash","X","English","91"])
table.add_row(["Akash","X","English","91"])
table.add_row(["Akash","X","English","91"])

print(table)

+--------------+-------+---------+-------+
| Student_Name | Class | Subject | Marks |
+--------------+-------+---------+-------+
|    Akash     |   X   | English |   91  |
|    Akash     |   X   | English |   91  |
|    Akash     |   X   | English |   91  |
|    Akash     |   X   | English |   91  |
|    Akash     |   X   | English |   91  |
+--------------+-------+---------+-------+